---
# Homebrew

- name: Make sure we're using the latest Homebrew
  homebrew: update_homebrew=yes

- name: Upgrade any already-installed formulae
  homebrew: upgrade_all=yes

- name: Add taps
  homebrew_tap: tap={{ item }}
  with_items: homebrew.taps

- name: Install packages
  homebrew: name={{ item }} state=latest
  with_items: homebrew.packages

- name: Install packages with install options
  homebrew: name={{ item.name }} state=latest install_options='{{ item.options }}'
  with_items: homebrew.packages_with_options

- name: Install casks
  homebrew_cask: name={{ item }}
  with_items: homebrew.casks
