---
# Dotfiles

- name: Download from repo
  git: repo={{ dotfiles.repo }} dest={{ dotfiles.path }} version=master force=no recursive=yes

- name: Get the list of dotfiles excluding .git
  shell: find {{ dotfiles.path }} -maxdepth 1 -not -path '*/.git' -iname '.*' -exec basename {} \;
  register: dotfiles_find

- name: Link dotfiles
  file: src={{ dotfiles.path }}/{{ item }} dest=~/{{ item }} state=link force=yes
  with_items: dotfiles_find.stdout_lines
