---
# Dotfiles

- name: Download from repo
  git: repo={{ dotfiles.repo }} dest={{ dotfiles.path }} version=master force=no recursive=yes

- name: Link dotfiles
  shell: stow . -t ~
  args:
      chdir: "{{ dotfiles.path }}"

- name: Ensure that ~/.config exists
  file: path=~/.config state=directory

- name: Link ~/.config/nvim to ~/.vim
  file: src=~/.vim dest=~/.config/nvim state=link force=yes

- name: Link ~/.config/kitty
  shell: stow kitty -t ~/.config/kitty
  args:
      chdir: "{{ dotfiles.path }}"

- name: Visual Studio Code
  shell: stow vscode -t ~
  args:
      chdir: "{{ dotfiles.path }}"
